h3: a(href="#{depth}") Front End Templates
ul
  li: a(href="phase1.html") Phase 1

h3: a(href="#{depth}styleguide/ux-wireframes.html") UX (Axure) Wireframes

h3 Styleguide
ul
  li: a(href="#{depth}styleguide/colors.html") Colors
  li: a(href="#{depth}styleguide/typography.html") Typography
  li: a(href="#{depth}styleguide/form-elements.html") Form Elements
  li: a(href="#{depth}styleguide/buttons.html") Buttons
  li: a(href="#{depth}styleguide/tables.html") Tables
  li: a(href="#{depth}styleguide/flash-messages.html") Flash Messages
  li: a(href="#{depth}styleguide/dashboard-widgets.html") Dashboard Widgets
  li: a(href="#{depth}styleguide/special-elements.html") Special Elements
  li: a(href="#{depth}styleguide/modals.html") Modals
  li: a(href="#{depth}styleguide/calendar.html") Calendar
  li: a(href="#{depth}styleguide/side-nav.html") Side Nav
  li: a(href="#{depth}styleguide/alert-messages.html") Alert Messages
  li: a(href="#{depth}styleguide/grid.html") Grid Layout
  li: a(href="#{depth}styleguide/ui-patterns.html") UI Patterns
